<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>
        <img ng-src="{{imgsrc.large}}" alt="">
    </p>
    <p>
        {{summary}}
    </p>
</div>
<!--加载动画-->

<div class="cssload-loader {{loaddh}}">
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
    <div class="cssload-side "></div>
</div>